name: MSBuild

on: [push]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: ./lib

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Build x64
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}
    
    - name: Build x86
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:Platform=x86 ${{env.SOLUTION_FILE_PATH}}
    
    - name: Upload x64 Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dinowintoastlib-64bit-libraries
        path: |
          lib/x64/Release/DinoWinToastLib.dll
          lib/x64/Release/DinoWinToastLib.lib
          
    - name: Upload x86 Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dinowintoastlib-32bit-libraries
        path: |
          lib/Release/DinoWinToastLib.dll
          lib/Release/DinoWinToastLib.dll
